body{
  margin: 0;
  background-color: rgb(209, 201, 201);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header{
  background-image: url(comida.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  width: 100%;
}

#header-div{
  background-color: rgba(165, 42, 42, 0.7);
  /*opacity: 0.5;*/
  color:white;
  text-align: center;
  padding: 20px;
}

header a{
 text-decoration: none;
}

h1{
  font-size: 1.8em;
}

h2{
  font-size: 1.2em;
}

nav + h2{
  color: brown;
  text-align: center;
}

nav{
  height: 20px;
  background-color: brown;
  width: 100%;
}

.promociones{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;/*repeat(4,fr) no funciona*/
  grid-gap: 30px;
  background-color: white;
  box-shadow: 0 2px 5px grey;
  border-radius: 4px;
  padding: 10px;
  margin: 10px 0;
  width: 90%;
}

.promocion{
  text-align: center;
  background-color: rgb(199, 131, 131);
  padding: 20px 30px;
  box-shadow: 0 2px 5px gray;

}

.promocion p{
  text-align: left;
  font-size: 0.9em;
}

img{
  width: 200px;
}

img:hover{
  transform: scale(1.1);
}

footer{
  background-color: brown;
  text-align: center;
  color: white;
  padding: 10px 0;
  width: 100%;
}

/* Estilos para pantallas medianas */
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .promociones{
  grid-template-columns: 1fr 1fr;
  }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 767px) {
  .promociones{
  grid-template-columns: 1fr;
  
  }
}